body {
    background-color: #c6e6ad;
}

h1 {
    color: #284267;
    text-align: center;
}

h2 {
    color: #ec7c3f;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}